<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Aqua Aware</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> AquaAware
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pythonModels">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Python Models
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="presentation">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Presentation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="infographic">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Infographic
            </NavLink>
        </div>
    </nav>
</div>