@page "/"

<PageTitle>AquaAware</PageTitle>

<div class="text-format">
    <div class="center">
        <h1>Welcome to AquaAware</h1>
        <h3>Become more aware about droughts in your area</h3>
    </div>
    <br/>
    <div class="center">
    </div>
    <br/>

    <div class="text-container">
        <img src="images/AquaAwareLogoBlack.png" alt="Logo" class="float-image">
        <p>
            We aim to bridge this gap with a model that combines current, past and future predictions of precipitation along with the last 25 years of data on temperature, soil moisture, groundwater levels, the Great Salt Lake levels and past drought data to calculate risk and severity of droughts in Utah in the next 6 months.

        </p>
    </div>
</div>