@page "/pythonModels"
@rendermode InteractiveServer

@inject IJSRuntime JsRuntime
@inject PythonApiService PythonApiService

<h3>PythonModels</h3>

<h3>Interact with Python Model</h3>

<button @onclick="GetModelResponse">Get Response from Python</button>

<button @onclick="UpdateResponse">Update response</button>

<p>@_responseMessage</p>

@code {


}
