@page "/pythonModels"
@rendermode InteractiveServer

@inject IJSRuntime JsRuntime
@inject PythonApiService PythonApiService

<h3>PythonModels</h3>

<h3>Interact with Python Model</h3>

<button @onclick="CalculateRiskScore">Calculate state risk</button>


<p>@RiskScore</p>

@code {


}
