@page "/presentation"

<h3>Presentation</h3>

<div id="slideshow-container">
<iframe id="slideFrame" width="800" height="500" allowfullscreen></iframe>
</div>

<button @onclick="NextSlide">Next Slide</button>

@code {

    /// <summary>
    ///   <para>
    ///`    Slides object to run the presentation slides
    ///   </para>
    /// </summary>
    private Slides _slides = new();

}